<html>
  <body>
    <% if(!files) { %>
      <p>It appears you have no files here, would you like upload some</p>
      <a href="/user/uploadFile"><button>Upload</button></a>
    <% } else { %>
      
    <% } %>
  </body>
</html>