<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "JetBrains Mono";
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      nav {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 8px;
      }
      .content {
        flex: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 26px;
      }
      .title {
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;
        font-size: 30px;
        color: #023e8a;
      }
      .links {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }
      button {
        font-size: 23px;
        padding: 7px 14px;
        cursor: pointer;
        background-color: #0077b6;
        border: 0;
        color: white;
      }
      .settings {
        padding: 4px 8px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="title">FileUploader</div>
      <div class="links">
        <a href="/logout" title="Click me to logout!"
          ><button>Logout</button></a
        >
        <a
          href="/user/settings"
          class="settings"
          title="Click me for user settings!"
        >
          <img
            src="<%= imgSrc %>"
            alt="manage_account"
            width="50"
            height="50"
          />
        </a>
      </div>
    </nav>
    <div class="content">
      <%- include("partials/userFiles", { files: null, filesPath:  }); %>
    </div>
  </body>
</html>
