<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "JetBrains Mono";
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      nav {
        padding: 5px;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px groove #000000;
      }
      .username {
        padding-left: 10px;
        flex: 3;
        font-size: 22px;
      }
      .return-link {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .return-link button {
        font-size: 22px;
        padding: 5px 8px;
        background-color: #0077b6;
        border: 0;
        color: #fff;
        cursor: pointer;
      }
      .content {
        margin-bottom: 4px;
        flex: 10;
        display: flex;
        flex-direction: row;
      }
      .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
      }
      .sidebar > div {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
      }
      .sidebar > div > div {
        cursor: pointer;
        width: 100%;
        text-align: center;
      }
      .sidebar hr {
        width: 100%;
        height: 1px;
        background-color: #000000;
      }
      .user-settings-content {
        flex: 6;
        padding: 8px;
      }
      hr {
        width: 1px;
        height: 100%;
        background-color: #000000;
        border: none;
      }
      .account-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .files-panel,
      .about-panel {
        display: none;
        justify-content: center;
        align-items: center;
      }
      .about-panel {
        flex-direction: column;
        height: 100%;
      }
      .about-panel > p {
        flex: 1;
      }
      .about-panel > div {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .about-panel > div > p {
        text-align: center;
      }
      .account-panel > p {
        flex: 1;
      }
      .account-details-panel {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
      }
      .account-details-panel > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      .account-details-panel > div button {
        font-size: 20px;
        padding: 4px 8px;
        border: 0;
        background-color: #0077b6;
        color: #fff;
        cursor: pointer;
      }
      #delete-button {
        background-color: rgba(255, 0, 0, 0.725);
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const settings = document.querySelector(".account-text");
        settings.addEventListener("click", () => {
          document.querySelector(".account-panel").style.display = "flex";
          document.querySelector(".files-panel").style.display = "none";
          document.querySelector(".about-panel").style.display = "none";
        });
        const files = document.querySelector(".files-text");
        files.addEventListener("click", () => {
          document.querySelector(".account-panel").style.display = "none";
          document.querySelector(".files-panel").style.display = "flex";
          document.querySelector(".about-panel").style.display = "none";
        });
        const about = document.querySelector(".about-text");
        about.addEventListener("click", () => {
          document.querySelector(".account-panel").style.display = "none";
          document.querySelector(".files-panel").style.display = "none";
          document.querySelector(".about-panel").style.display = "flex";
        });
      });
    </script>
  </head>
  <body>
    <nav>
      <div class="username">
        <p><%= username %></p>
      </div>
      <div class="return-link">
        <a href="/user"><button>Go Back</button></a>
      </div>
    </nav>
    <div class="content">
      <div class="sidebar">
        <div>
          <div class="account-text">
            <p>Account</p>
          </div>
          <hr />
          <div class="files-text">
            <p>Files</p>
          </div>
          <hr />
          <div class="about-text">
            <p>About file uploader</p>
          </div>
          <hr />
        </div>
      </div>
      <div><hr /></div>
      <div class="user-settings-content">
        <div class="account-panel">
          <p>Account Details</p>
          <div class="account-details-panel">
            <div class="change-name">
              <p>Name: <%= name %></p>
              <div>
                <a href="/change/name"><button>Change name</button></a>
              </div>
            </div>
            <div class="change-username">
              <p>Username: <%= username %></p>
              <div>
                <a href="/change/username"><button>Change username</button></a>
              </div>
            </div>
            <div class="change-password">
              <p>Password: ********</p>
              <div>
                <a href="/change/password"><button>Change password</button></a>
              </div>
            </div>
            <div>
              <div>
                <a href="/user/delete"><button id="delete-button">Delete account</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="files-panel">
          <p>Files</p>
        </div>
        <div class="about-panel">
          <p>About file uploader</p>
          <div>
            <p>
              File uploader is a strip down version of
              <a href="https://workspace.google.com/intl/en_in/products/drive/"
                >Google drive</a
              >
            </p>
            <p>
              Developed by
              <a href="https://github.com/vardhanb07/">Vardhanb07</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
